:root{
    --bgc:#192a33;
    --equis:rgb(52, 199, 192);
    --yellow:rgb(241, 180, 50);
    --bgc-box:#1e363e;
    --gray:#a8bec9;
    --black:#000;
    --font:'Roboto', sans-serif;

}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font);
    /* color:var(--bgc); */
}

body{
    background-color: var(--bgc);
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.main .table-options{
    min-width: 20rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.main .init-game .pick-player{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgc-box);
    padding:1rem;   
    border-radius: .5rem;
    padding:1rem .5rem;
    margin:1rem 0;
    box-shadow:0 .3rem 1px rgba(0, 0, 0, 0.2);
    

}

.main .init-game .pick-player  .btn-simbols .pick-simbols{
    background-color: var(--bgc);
    display: flex;
    justify-content:space-between;
    border: none;
    width:14rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    color:var(--gray);
    margin:1rem;
    padding:.5rem .5rem;
}

.main .init-game .pick-player  .btn-simbols .pick-simbols .btns.selected{
    background-color: var(--gray);
    color: var(--bgc);
    width: 50%;
    border-radius: .5rem;
    
}

.main .init-game .pick-player  .btn-simbols .pick-simbols .btns{
    background-color: var(--bgc);
    color: var(--gray);
    width: 50%;
}


.main .init-game .btn-new{
    display:flex;
    flex-direction: column;
}
.main .init-game .btn-new button{
    border:none;
    margin-bottom:1rem;
    padding:1rem;
    font-weight: 700;
    border-radius: .5rem;
    cursor: pointer;
    
}
.main .init-game .btn-new button:nth-child(1){
    background-color: var(--yellow);
    box-shadow:0 .3rem 1px rgb(182, 127, 9);
    
}
.main .init-game .btn-new button:nth-child(2){
    background-color: var(--equis);
    box-shadow:0 .3rem 1px rgb(3, 124, 118);
}


.main .table-game{
    min-width:20rem;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition:transform 0.4s top 0.4s;
    visibility: hidden;
    background-color: var(--bgc);
    z-index: 2;
}
.main .newGame{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.main .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .options .simbols{
    font-size: 3rem;
}

.equis{
    
    background-image: url('./images/xmark-solid.svg'); 
    background-repeat:no-repeat ;
    background-position: center;          
    color: var(--equis);
    font-size: 2rem;
}

.zero{
    background-image: url('./images/o-solid.svg');
    background-repeat:no-repeat ;
    background-position: center;
    font-size: 2rem;
    color:var(--yellow);

}
.main .table-game .options .turn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-box);
    color: var(--gray);
    margin: 3rem .5rem;
    width:6rem;
    height:2rem;
    font-size:.8rem;
    border-radius: .5rem;
    box-shadow:0 .5rem 1px rgba(0, 0, 0, 0.2);
}
.main .options .turn .x-text{
    padding-right: .5rem;
    font-size:1rem;
}
.main .table-game .options .load{
    font-size:1rem;
    background-color: var(--gray);
    padding:1rem;
    border-radius: .5rem;
    box-shadow:0 .4rem 1px rgb(108, 137, 151);
    cursor:pointer;
}

.main .content-game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
    margin: 0 .5rem  1.5rem;
}

.main .content-game div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-box);
    width:6rem;
    height:5rem;
    border-radius: .5rem;
    box-shadow:0 .5rem 1px rgba(0, 0, 0, 0.2);
}

.main .puntuation{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 1rem;
    font-size:.7rem;
    margin: 0 .5rem;
}
.main .puntuation .you,
.main .puntuation .ties,
.main .puntuation .cpu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:6rem;
    height:4rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    
}

.main .puntuation .you{
    
    background-color: var(--equis);
}

.main .puntuation .ties{
    background-color:var(--gray);
}
.main .puntuation .cpu{
    background-color:var(--yellow);
}

.main .puntuation span{
    font-size: 1rem;
    font-weight: 900;
}

.take-round{
    min-width:100%;
    min-height: 14rem;
    text-align: center;
    position:absolute;
    padding: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition:transform 0.4s, top 0.4s;
    background-color:var(--bgc-box);
    z-index: 9;

}
.take-round button{
    cursor:pointer;
}
.openRound{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.main .table-game .overlay{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

.main .table-game .overlay.algo{
    visibility: visible;
    z-index:8;

}
/*.main .table-game .overlayInitgame{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left:0;*/
/*    width:100%;*/
/*    height:100%;*/
/*    visibility: hidden;*/
/*}*/

/*.main .table-game .overlayInitgame.visible{*/
/*    visibility: visible;*/
/*    z-index:1;*/
/*}*/


h5{
    color:var(--gray);
    font-size: .7rem;
}

.take-round .text-principal{
    display:flex;
    align-content:center;
    justify-content:center;
    color: var(--equis);
    margin: 1rem;
}
.take-round h3{
    display:flex;
    justify-content: center;
    align-items: center;
}
.take-round i{
    font-size:2rem;
    font-weight:900;
    margin-right: .5rem;
}


.take-round button{
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    color: var(--black);
    margin-left: .5rem;
}
.take-round .btn-quit{
    background-color:var(--gray);
    
}
.take-round .btn-next{
    background-color:var(--yellow);
    
}

.hide{
    display: none;
}